.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-money {
  font-family: "Roboto Mono", monospace;
}

.hide-on-print {
  @media print {
    display: none;
  }
}
